* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fefefe;
}

.hide {
  display: none;
}

.gray {
  font-size: 11px;
  font-style: italic;
  color: #d3dbe2;
}

.wrapper {
  font-weight: 500;
  font-family: 'sans-serif';
  border: 1px solid #d3dbe2;
  border-radius: 3px;
  position: relative;
  width: 400px;
  display: flex;
  position: relative;
  margin: 100px auto;
  height: 30px;
}

.country {
  padding: 6px;
  background-color: #ebe6eb;
  width: 40px;
  position: relative;
  cursor: pointer;
}

.country::after {
  content: '';
  position: absolute;
  top: 12px;
  right: 6px;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-top: 4px solid #543b51;
}
.country img {
  height: 13px;
}

.plus {
  position: absolute;
  left: 47px;
  top: 8px;
  font-size: 12px;
  color: #cba3b8;
}

.country-code {
  border: none;
  border-right: 1px solid #d3dbe2;
  border-left: 1px solid #d3dbe2;
  width: 30px;
  padding: 6px 12px;
  padding-left: 17px;
  color: #cba3b8;
}

.number {
  border: none;
  width: 100%;
  padding: 0.5em;
}
.number::-webkit-outer-spin-button,
.number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.number:focus,
.country-code:focus {
  outline: none;
}

.country-code-list {
  list-style: none;
  width: 100%;
  position: absolute;
  top: 40px;
  height: 145px;
  overflow-y: scroll;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.country-code-list .flag {
  vertical-align: middle;
}
.country-code-list li {
  padding: 6px;
  font-size: 13px;
}
.country-code-list li:hover {
  background-color: #ebe6eb;
}
.country-code-list li img {
  width: 20px;
  margin-right: 10px;
}

.country-code-list::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.country-code-list::-webkit-scrollbar-thumb {
  background: #ff0000;
}
